body {
    margin: 0;
    background-color: rgb(105, 105, 202);
    min-height: 100vh;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
    padding: 10px 20px;
}
header {
    background-color: white;
    padding: 5px 20px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
h2 {
    color: white;
    text-align: center;
}
.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.logo img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}
.logo h1 {
    color: black;
    font-size: 25px;
    margin: 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: purple;
}
.infoKosan {
    background-color: rgb(105, 105, 202);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(105, 105, 202);
    margin: 30px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    font: bold 16px Arial, sans-serif;
}
.infoKamar {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    flex: 1;
    min-width: 0;
    padding: 25px 5px;
}
.infoKamar p{
    margin: 5px 0;
    color: rgb(105, 105, 202);
}
.infoKamar h3{
    margin: 10px 0;
    font-size: 20px;
    margin-botton: 10px;
}
footer {
    background-color: white;
    text-align: center;
    color: black;
    padding: 15px;
    margin-top: auto;
}